<ListView [items]="meds" (itemTap)="onItemTap($event)" class="main">
    <ng-template let-med="item">
            <StackLayout class="med-card" height="120">
                    <FlexboxLayout flexDirection="row" justifyContent="space-between" >
                        <Label [text]="med.title"  class="title"></Label>
                        <Label [text]="'time: ' + med.time" class="time"></Label>
                    </FlexboxLayout>
                    <StackLayout>
                        <Label [text]="med.description" class="subtitle"></Label>
                    </StackLayout>
                    <FlexboxLayout flexDirection="row" justifyContent="space-between" class="when">
                        <StackLayout orientation="horizontal" class="first">
                            <Label [text]="'start: '+ med.today" class="date"></Label>
                            <Label [text]="'end: '+ med.date" class="today"></Label>
                        </StackLayout>
                    </FlexboxLayout>
            </StackLayout>
   </ng-template>
</ListView>
<FlexboxLayout justifyItem="center" alignItems="center"  >
    <Label text="No medication found, please add one" *ngIf="meds.length == 0"></Label>
</FlexboxLayout>
